.env.local
**/__pycache__/
**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/temp/
.speakeasy/reports
.venv/
README-PYPI.md
pyrightconfig.json
venv/
src/*.egg-info/
__pycache__/
.pytest_cache/
.python-version
.DS_Store
# human-added igore files
.ipynb_checkpoints/
.idea/
.local
*.ipynb
openapi.json
openapi_client.json
openapi_serverless.json
openapi_platform_api.json
openapi_merged.yaml
openapi_platform_serverless_client.yaml
# Environments
.env
.envrc
.venv*
venv*
env/
ENV/
env.bak/
