
[project]
name = "unstructured-client"
version = "0.42.10"
description = "Python Client SDK for Unstructured API"
authors = [{ name = "Unstructured" },]
readme = "README-PYPI.md"
requires-python = ">=3.9.2"
dependencies = [
    "aiofiles >=24.1.0",
    "cryptography >=3.1",
    "httpcore >=1.0.9",
    "httpx >=0.27.0",
    "pydantic >=2.11.2",
    "pypdf >= 6.2.0",
    "requests-toolbelt >=1.0.0",
]

[tool.poetry]
repository = "https://github.com/Unstructured-IO/unstructured-python-client.git"
license = "MIT"
packages = [
    { include = "unstructured_client", from = "src" }
]
include = ["py.typed", "src/unstructured_client/py.typed"]

[tool.setuptools.package-data]
"*" = ["py.typed", "src/unstructured_client/py.typed"]

[virtualenvs]
in-project = true

[tool.poetry.group.dev.dependencies]
deepdiff = ">=6.0"
freezegun = ">=1.5.1"
mypy = "==1.15.0"
pylint = "==3.2.3"
pytest = ">=8.3.3"
pytest-asyncio = "=1.1.0"
pytest-httpx = ">=0.35.0"
pytest-mock = ">=3.14.0"
pytest-xdist = "^3.5.0"
types-aiofiles = ">=24.1.0"
uvloop = ">=0.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"
explicit_package_bases = true
mypy_path = "src"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true

[tool.pyright]
venvPath = "."
venv = ".venv"


