[tool.poetry]
name = "unstructured-client"
version = "0.28.0"
description = "Python Client SDK for Unstructured API"
authors = ["Unstructured",]
readme = "README-PYPI.md"
repository = "https://github.com/Unstructured-IO/unstructured-python-client.git"
license = "MIT"
packages = [
    { include = "unstructured_client", from = "src" }
]
include = ["py.typed", "src/unstructured_client/py.typed"]

[tool.setuptools.package-data]
"*" = ["py.typed", "src/unstructured_client/py.typed"]

[virtualenvs]
in-project = true

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = ">=24.1.0"
cryptography = ">=3.1"
eval-type-backport = "^0.2.0"
httpx = ">=0.27.0"
jsonpath-python = "^1.0.6"
nest-asyncio = ">=1.6.0"
pydantic = "~2.9.2"
pypdf = ">=4.0"
python-dateutil = "2.8.2"
requests-toolbelt = ">=1.0.0"
typing-inspect = "^0.9.0"

[tool.poetry.group.dev.dependencies]
deepdiff = ">=6.0"
mypy = "==1.10.1"
pylint = "==3.2.3"
pytest = ">=8.3.3"
pytest-asyncio = ">=0.24.0"
pytest-mock = ">=3.14.0"
types-aiofiles = ">=24.1.0"
types-python-dateutil = "^2.9.0.20240316"
uvloop = ">=0.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true

[tool.pyright]
venvPath = "."
venv = ".venv"


