{
  "openapi": "3.1.0",
  "info": {
    "title": "Unstructured Pipeline API",
    "version": "0.0.64"
  },
  "servers": [
    {
      "url": "https://api.unstructured.io",
      "description": "Hosted API",
      "x-speakeasy-server-id": "prod"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server",
      "x-speakeasy-server-id": "local"
    }
  ],
  "paths": {
    "/general/v0/general": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Summary",
        "description": "Description",
        "operationId": "partition_parameters",
        "parameters": [
          {
            "name": "unstructured-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Unstructured-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_partition_parameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Element"
                  },
                  "title": "Response Partition Parameters",
                  "type": "array"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-name-override": "partition"
      }
    }
  },
  "components": {
    "schemas": {
      "Body_partition_parameters": {
        "properties": {
          "files": {
            "type": "string",
            "format": "binary",
            "description": "The file to extract",
            "required": "true",
            "examples": [
              {
                "summary": "File to be partitioned",
                "externalValue": "https://github.com/Unstructured-IO/unstructured/blob/98d3541909f64290b5efb65a226fc3ee8a7cc5ee/example-docs/layout-parser-paper.pdf"
              }
            ]
          },
          "xml_keep_tags": {
            "type": "boolean",
            "title": "Xml Keep Tags",
            "description": "If True, will retain the XML tags in the output. Otherwise it will simply extract the text from within the tags. Only applies to partition_xml.",
            "default": false
          },
          "languages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "OCR Languages",
            "description": "The languages present in the document, for use in partitioning and/or OCR",
            "default": []
          },
          "ocr_languages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "OCR Languages",
            "description": "The languages present in the document, for use in partitioning and/or OCR",
            "default": []
          },
          "skip_infer_table_types": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Skip Infer Table Types",
            "description": "The document types that you want to skip table extraction with. Default: ['pdf', 'jpg', 'png']",
            "default": [
              "pdf",
              "jpg",
              "png"
            ]
          },
          "gz_uncompressed_content_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uncompressed Content Type",
            "description": "If file is gzipped, use this content type after unzipping"
          },
          "output_format": {
            "type": "string",
            "title": "Output Format",
            "description": "The format of the response. Supported formats are application/json and text/csv. Default: application/json.",
            "default": "application/json"
          },
          "coordinates": {
            "type": "boolean",
            "title": "Coordinates",
            "description": "If true, return coordinates for each element. Default: false",
            "default": false
          },
          "encoding": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Encoding",
            "description": "The encoding method used to decode the text input. Default: utf-8"
          },
          "hi_res_model_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hi Res Model Name",
            "description": "The name of the inference model used when strategy is hi_res"
          },
          "include_page_breaks": {
            "type": "boolean",
            "title": "Include Page Breaks",
            "description": "If True, the output will include page breaks if the filetype supports it. Default: false",
            "default": false
          },
          "pdf_infer_table_structure": {
            "type": "boolean",
            "title": "Pdf Infer Table Structure",
            "description": "If True and strategy=hi_res, any Table Elements extracted from a PDF will include an additional metadata field, 'text_as_html', where the value (string) is a just a transformation of the data into an HTML <table>.",
            "default": false
          },
          "split_pdf_page": {
            "type": "boolean",
            "title": "Split Pdf Page",
            "description": "Should the pdf file be split at client. Ignored on backend."
          },
          "strategy": {
            "type": "string",
            "enum": [
              "fast",
              "hi_res",
              "auto",
              "ocr_only"
            ],
            "title": "Strategy",
            "description": "The strategy to use for partitioning PDF/image. Options are fast, hi_res, auto. Default: auto",
            "default": "auto",
            "examples": [
              "auto",
              "hi_res"
            ]
          },
          "extract_image_block_types": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Image block types to extract",
            "description": "The types of elements to extract, for use in extracting image blocks as base64 encoded data stored in metadata fields",
            "default": []
          },
          "chunking_strategy": {
            "anyOf": [
              {
                "const": "by_title"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chunking Strategy",
            "description": "Use one of the supported strategies to chunk the returned elements. Currently supports: by_title",
            "examples": [
              "by_title"
            ]
          },
          "combine_under_n_chars": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Combine Under N Chars",
            "description": "If chunking strategy is set, combine elements until a section reaches a length of n chars. Default: 500"
          },
          "max_characters": {
            "type": "integer",
            "title": "Max Characters",
            "description": "If chunking strategy is set, cut off new sections after reaching a length of n chars (hard max). Default: 1500",
            "default": 500
          },
          "multipage_sections": {
            "type": "boolean",
            "title": "Multipage Sections",
            "description": "If chunking strategy is set, determines if sections can span multiple sections. Default: true",
            "default": true
          },
          "new_after_n_chars": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "New after n chars",
            "description": "If chunking strategy is set, cut off new sections after reaching a length of n chars (soft max). Default: 1500"
          },
          "overlap": {
            "type": "integer",
            "title": "Overlap",
            "description": "Specifies the length of a string ('tail') to be drawn from each chunk and prefixed to the next chunk as a context-preserving mechanism. By default, this only applies to split-chunks where an oversized element is divided into multiple chunks by text-splitting. Default: 0",
            "default": 0
          },
          "overlap_all": {
            "type": "boolean",
            "title": "Overlap all",
            "description": "When `True`, apply overlap between 'normal' chunks formed from whole elements and not subject to text-splitting. Use this with caution as it entails a certain level of 'pollution' of otherwise clean semantic chunk boundaries. Default: False",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "files"
        ],
        "title": "Body_partition_parameters"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "Element": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "element_id": {
            "type": "string",
            "title": "Element Id"
          },
          "metadata": {
            "type": "object",
            "title": "Metadata"
          },
          "text": {
            "type": "string",
            "title": "Text"
          }
        },
        "type": "object",
        "required": [
          "type",
          "element_id",
          "metadata",
          "text"
        ],
        "title": "Element"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "unstructured-api-key",
        "in": "header",
        "x-speakeasy-example": "YOUR_API_KEY"
      }
    }
  },
  "tags": [
    {
      "name": "general"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 900000,
      "exponent": 1.5
    },
    "statusCodes": [
      "5xx"
    ],
    "retryConnectionErrors": true
  }
}