name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  test_unit:
    strategy:
      matrix:
        python-version: ["3.9","3.10","3.11"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make install-test
    - name: Run unit tests
      run: |
        pip install  .
        make test-unit

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install .[dev]
    - name: Lint
      run: make lint

  test_integration:
    strategy:
      matrix:
        python-version: ["3.9","3.10","3.11"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make install-test
    - name: Run unit tests
      run: |
        pip install  .
        pytest test_unstructured_client
      env:
        UNSTRUCTURED_API_KEY: ${{ secrets.UNSTRUCTURED_API_KEY }}

